<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Guessing Ninjas</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Welcome to the calculator!</h1>
    <form method="post" action="/">

        <p>Input number<input name="number"></p>

        <p> Select Measurment:</p>
       <select name="Convert_from">
            <option value="m" name="Plus">M</option>
            <option value="km">Km</option>
            <option value="mm">Mm</option>
            <option value="cm">Cm</option>
       </select>



        <p> Convert to:</p>
        <select name="Convert_to">
            <option value="m" name="Plus">M</option>
            <option value="km">Km</option>
            <option value="mm">Mm</option>
            <option value="cm">Cm</option>
       </select>

        <button type="submit" name="submit">Submit </button>

    </form>
</body>
</html>