<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Guessing Ninjas</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Welcome to the calculator!</h1>
    <form method="post" action="/">
       <p> Your first number here:<input name="first_number"></p>
        <p> Your second number here:<input name="second_number"></p>

       <select name="Operation">
            <option value="Plus" name="Plus">+</option>
            <option value="Minus">-</option>
            <option value="Times">*</option>
            <option value="Divided">:</option>
       </select>
        <button type="submit" name="submit">Submit </button>

    </form>
</body>
</html>